/*Home*/

.homepage {
    background-image: url("homepage.png");
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    width: 100%;
}

.textbox,
.text-on-pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* About us */

.aboutus {
    background-image: url("aboutus.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: aliceblue;
}

.about-us-text {
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 2em;
}

/* Footer */

.footer {
    display: flex;
    align-content: center;
    position: relative;
    justify-content: space-around;
    padding-top: 2em;
    padding-bottom: 2em;
    max-width: 30%;
    z-index: 1;
}

.bi-facebook,
.bi-apple,
.bi-instagram,
.bi-twitter {
    cursor: pointer;
}

/* Login */

.login-form {
    margin-top: 200em;
}
