<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">
    <title>About Us | ToDo</title>
</head>
<body>
<section class="aboutus">
    <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
        <a th:href="@{/home}" class="navbar-brand mb-0 h2">
            ToDo
        </a>
        <button
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                class="navbar-toggler"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a th:href="@{/home}" class="nav-link">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/aboutus}" class="nav-link">
                        About us
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/register}" class="nav-link">
                        Create Account
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/list}" class="nav-link">
                        Create List
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/login}" class="nav-link">
                        Login
                    </a>
                </li>
                <!--<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       role="button" id="navbarDropDown"
                       data-bs-toggle="dropdown" aria-expanded="true">
                        Account
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropDown">
                        <li>
                            <a class="dropdown-item" th:href="@{/list}">Create list</a>
                            <a class="dropdown-item" th:href="@{/register}">Create Account</a>
                            <a class="dropdown-item" th:href="@{/login}">Login</a>
                        </li>
                    </ul>
                </li>-->
            </ul>
        </div>
    </nav>
</section>
<div class="text-on-pic">
    <h1>About us</h1>
</div>

</body>
</html>